/.vs
/*.sdf
/*.opendb
/desktop.ini
/x64
/Win32
/dll/Win32
/dll/x64
/*.db
/*.nupkg
/interpreter/x64
/interpreter/Win32
/bin
/compiler/x64
/compiler/Win32
/lib/Win32
/lib/x64
*.user
/versioninfo.h
